/*Artwork Section*/
.card2{
    position: relative;
    background-color: rgba(81, 98, 214, .50);
    max-width: 1000px;
    max-height: 400px;
    min-width: 350px;
    margin-bottom: 5%;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    transition-delay: .2s;
}
.card2:hover{
    background-color: rgba(81, 98, 214, .50);
    transform: scale(1.05);
    .card2TextContainer{
        background-color:rgba(81, 98, 214, .50);
    }
    .card2Header{
        color:#edeeff;
        font-size: 1.5rem;
    }
    .card2Description{
        color:#edeeff;
        font-size: 1.2rem;
        display:block;
        opacity: 1; 
        visibility: visible;
        transition: opacity 0.5s ease-in-out, visibility 0s 0s;
        
    }
}
.card2TextContainer{
    padding:1%;
    width:400px;
    position: absolute;
    top: 10px;;
    left:10px;
    transition: .5s ease;

}
.card2Img{
    position: relative;
    object-fit:fill;
    width: 100%;
    height: 100%;
}
.card2Header{
    color:#edeeff;
    font-size: 2rem;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    transition-delay: .2s;
}
.card2Description{
    color:#c3c6ff;
    font-size: 1.2rem;
    font-weight: normal;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 0s .5s; 
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    
}
.card2FlexBox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap:wrap;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;

}
.artworkContainer{
    display:flex;
    flex-direction: row;
    justify-content:center;
    
}
.artworkCol{
    display: flex;
    flex-direction: column;
    margin: 2%;
}
.artworkCard{
    font-size: large;
    margin: 5%;
    background-color:rgba(0, 0, 0, 0.2);
    width: fit-content;
    box-shadow: 0px 6px 26px -8px rgba(0,0,0,0.49);
}
.artTitle{
    font-size: 1rem;
    font-weight:lighter;
    text-align: right;
    margin-right: 10px;
    margin-top: -10px;
}

#mtnStillLife{
    width: 300px;
    height:auto;

}
#birds{
    width:500px;
    height:auto;
}
#fish{
    width:500px;
    height:auto;
}
#rasberries{
    width:500px;
    height:auto;
}
#theTree{
    width: 400px;
    height:auto;

}
#openSkies{
    width: 400px;
    height:auto;
}
.artwork{
    margin: 10px;
}
.artPageTitle{
    text-align: center;
    font-weight: bolder;
    font-size: 1.7rem;
    color:#c3c6ff;
    margin-top: -20px;
}

@media only screen and (max-width: 1000px){
    .card2FlexBox{
        margin-left: 2%;
        margin-right: 2%;
    
    }
    
    .card2Header{
        color:#edeeff;
        font-size: 1.3rem;
    }
    .card2Description{
        font-size: 1.1rem; 
    }
    .card2TextContainer{
        padding:1%;
        width:300px;
    
    }
    .card2:hover{
        background-color: rgba(81, 98, 214, .50);
        transform: scale(1.05);
        .card2TextContainer{
            background-color:rgba(81, 98, 214, .50);
        }
        .card2Header{
            color:#edeeff;
            font-size: 1.3rem;
        }
        .card2Description{
            color:#edeeff;
            font-size: 1.1rem;
            display:block;
            opacity: 1; 
            visibility: visible;
            transition: opacity 0.5s ease-in-out, visibility 0s 0s;
            
        }
    }

}
@media only screen and (max-width: 800px){
    
    .card2Header{
        color:#edeeff;
        font-size: 1.2rem;
    }
    .card2Description{
        font-size: .8rem; 
    }
    .card2:hover{
        background-color: rgba(81, 98, 214, .50);
        transform: scale(1.05);
        .card2TextContainer{
            background-color:rgba(81, 98, 214, .50);
        }
        .card2Header{
            color:#edeeff;
            font-size: 1.2rem;
        }
        .card2Description{
            color:#edeeff;
            font-size: .8rem;
            display:block;
            opacity: 1; 
            visibility: visible;
            transition: opacity 0.5s ease-in-out, visibility 0s 0s;
            
        }
    }

}
