/*Home Section*/
#introHeader{
    font-size: 2rem;
}
.picture-text-container{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: rgba(81, 98, 214, .9);
    border-radius: 30px;
    max-width: 1200px;
    width: 950px
}
#introBlurb{
    width: 80%;
    max-width: 1000px;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: #e1e3ff;
    font-weight: normal;
}
#headshotRagan{
    width: 280px;
    height: 280px;
    border: 10px solid;
    border-color: rgba(54, 54, 54, .50);
    object-fit: cover;
    border-radius: 50%;
}
@media only screen and (max-width: 1000px){
    #headshotRagan{
        width: 220px;
        height: 220px;
    }
    #introBlurb{
        max-width: 600px;
        font-size: 1.1rem;
    }
    .picture-text-container{
        width: 800px
    }
}
@media only screen and (max-width: 800px){
    #headshotRagan{
        width: 210px;
        height: 210px;
    }
    #introBlurb{
        max-width: 500px;
        font-size: 1.1rem;
    }
    .picture-text-container{
        width: 700px
    }
}
@media only screen and (max-width: 700px){
    #headshotRagan{
        width: 200px;
        height: 200px;
    }
    #introBlurb{
        max-width: 500px;
        font-size: 1rem;
    }
    .picture-text-container{
        width: 600px;
        margin-top: 8rem;
    }
}
@media only screen and (max-width: 600px){
    #headshotRagan{
        width: 150px;
        height: 150px;
    }
    #introBlurb{
        max-width: 350px;
        font-size: 1rem;
    }
    .picture-text-container{
        width: 400px;
        margin-top: 6rem;
    }
    #introHeader{
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 400px){
    #introBlurb{
        max-width: 250px;
        font-size: 1rem;
    }
    .picture-text-container{
        width: 300px;
        margin-top: 6rem;
    }
}

