/*Home Section*/

.picture-text-container{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-direction: row;
    gap:5%;
    margin-top: -30px;
}
#introTextContainer{
    display: flex;
    flex-direction: column;
}
#introHeader {
    font-size: 170px;
    line-height: 1.1;
    margin-bottom: 1rem;color: var(--Brown, #4B3017);
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Lora;
}

#introSubtitle {
    font-size: 48px;
    margin-top: -15px;
    color: var(--Black, #000);
    font-family: Lora;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
#headshotWrapper {
  margin-top: 70px;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: var(--Background-Fossil-White, #E0DDD9);
  overflow: visible;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
}

#headshotRagan {
  width: 350px; 
  height: auto;
  object-fit: cover;
  position: relative;
  top: -20px;
  z-index: 1;
  transition: all 0.3s ease;
}
#headshotRagan:hover {
  width: 350px; 
  height: auto;
  transform: translateY(-10px);

}

