/*Website Overview*/
html {
    scroll-behavior:smooth;
  }
body{
    display: flex;
    align-content: center;
    flex-direction: column;
    font-family: 'Lato',sans-serif;
    margin-left: 0%;
    margin-right: 0%;
    background: #F1F1F1;
    letter-spacing: .05rem;
}
h1{
    font-weight: lighter;
    font-size: 2rem;
}

p{
    font-weight:lighter;
    font-size: 1.2rem;
}
a{
    text-decoration: none;
}
.navbarPC {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:auto;
  padding-left: 2rem;
  padding-right: 2rem;
  height: fit-content;
  background-color: transparent;
}

.navbarPC #name {
    border-radius: 100px;
    background: var(--Brown-Brown-Brown, #311E0E);
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    aspect-ratio: 1/1;

    color: var(--Background-White, #F1F1F1);
    text-align: center;
    font-family: Lora;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.navbarPC #name:hover {
    background: var(--, #311E0E);
}

.nav-links {
    display: inline-flex;
    padding: 0 30px;
    align-items: center;
    gap: 70px;
    
}

.nav-links a {
    color: #000;
    text-align: center;
    font-family: Lora;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: color 0.5 ease;
}

.nav-links a:hover {
  color: #000;
  text-decoration:underline;
}
.socials{
    font-size: 2.1rem;
    float: right;
    color: #c3c6ff;
    margin-top: 1%;
    margin-left:1rem;
    margin-bottom: -1%;
    transition: color .5s ease, transform .3s ease;

}
.button-wrapper-right {
  text-align: right;
}
.primary-button {
    border-radius: 50px;
    background: var(--Brown-Brown-Brown, #311E0E);
    padding: 0.75rem 1.5rem;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    color: #F1F1F1;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width:fit-content;
    text-decoration: none;
}

.primary-button:hover {
  background-color: #4B3017;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}