/*Projects*/

.cardFlexBox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;

}
.card{
    background-color: rgba(81, 98, 214, 1);
    max-width: 350px;
    max-height: 450px;
    min-width: 200px;
    min-height: auto;
    transition: 0.5s;
}
.card:hover{
    background-color: rgba(81, 98, 214, 1);
    transform: scale(1.05);
    
    .cardImg{
        opacity: 1;
    }
    .cardHeader{
        color:#edeeff;
        font-size: 1.5rem;
    }
    .cardDescription{
        display:block;
        opacity: 1; 
        visibility: visible;
        transition: opacity 0.5s ease-in-out, visibility 0s 0s;
    }
}
.cardTextContainer{
    padding:2%;
}
.cardImg{
    opacity: .9;
    object-fit:cover;
    width: 100%;
    height: 70%;
    transition: .5s ease-in-out;
}
.cardHeader{
    color:#edeeff;
    font-size: 1.5rem;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    transition-delay: .2s;
}
.cardDescription{
    color:#edeeff;
    font-size: 1rem;
    font-weight: normal;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 0s .5s; 
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    
}
.WipImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 10%;
}