.uxCardFlexBox{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    

}
.uxCard{
    background-color: rgba(81, 98, 214, 1);
    max-width: 350px;
    max-height: 450px;
    min-width: 200px;
    min-height: auto;
    transition: 0.5s;
    margin:5%;
}
.uxCard:hover{
    background-color: rgba(81, 98, 214, 1);
    transform: scale(1.05);
    .uxCardImg{
        opacity: 1;
    }
    .uxCardHeader{
        color:#edeeff;
        font-size: 1.5rem;
    }
    .uxCardDescription{
        display:block;
        opacity: 1; 
        visibility: visible;
        transition: opacity 0.5s ease-in-out, visibility 0s 0s;
    }
}
.uxCardTextContainer{
    padding:2%;
}
.uxCardImg{
    opacity: .9;
    object-fit:cover;
    width: 100%;
    height: 70%;
    transition: .5s ease-in-out;
}
.uxCardHeader{
    color:#edeeff;
    font-size: 1.5rem;
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    transition-delay: .2s;
}
.uxCardDescription{
    color:#edeeff;
    font-size: 1rem;
    font-weight: normal;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out, visibility 0s .5s; 
    transition-timing-function: ease-in-out;
    transition-duration: .5s;
    
}
.WipImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 10%;
}
.uxProjectDescription{
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    background-color: rgba(81, 98, 214, .9);
}

.uxMockupContainer{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    justify-content:space-evenly;
}
.uxImageContainer{
    padding:.5rem;
    max-width:100%;
    height:auto;
    text-align: center;
    p{
        margin-top: -.1rem;
    }
}
.orionImage{
    width:250px;
}
.whiteboardImage{
    width: 500px;
}
@media only screen and (max-width: 800px){
    .uxCard:hover{
        .uxCardHeader{
            color:#edeeff;
            font-size: 1.1rem;
        }
        .uxCardDescription{
            display:block;
            opacity: 1; 
            visibility: visible;
            transition: opacity 0.5s ease-in-out, visibility 0s 0s;
        }
    }
    .uxCardHeader{
        color:#edeeff;
        font-size: 1.1rem;
    }
    .uxCardDescription{
        color:#edeeff;
        font-size: .9rem;
        
    }
    .orionImage{
        width:250px;
    }
    .whiteboardImage{
        width: 400px;
    }

}

@media only screen and (max-width: 600px){

    .orionImage{
        width:250px;
    }
    .whiteboardImage{
        width: 300px;
    }

}
