/*Website Overview*/
body{
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
.header{
    position: sticky;
    background-color: #847CFF;
}
.navbar{
    float: none;
    height: 3rem;
    text-align: center;
    a{
        text-decoration: none;
        padding: 5%;
        font-family: Verdana, Tahoma, sans-serif;
        font-size: 1.5rem;
        font-weight:bolder;
        color:#ffffff
    }
}
.headBar{
    #name{
        font-family: "Pixelify Sans", sans-serif;;
        font-weight:bolder;
        font-style:oblique;
        font-size: 3.2rem;
        letter-spacing: .2rem;
        color:#11058F;
        display: inline;
        margin-left: 2%;

    }
    .socials{
        font-size: 2.5rem;
        float: right;
        color: #ffffff;
        margin-right: 2%;
        margin-top: 1%;
    }
    a:hover{
        color:#11058F;
    }
}

a{
    color: #3729C6;
}
a:hover{
    color:#11058F;
}
.pageHeading{
    font-size: 2rem;
    margin-left: 3%;
    background-color: #DCDCDC;;
    margin-left: 0%;
    padding-left:3%;
    width: 30%;
    text-align: center;
}

/*About Me Only */
#introBlurb{
    font-size: 1.5rem;
    margin-right: 5%;
}
.picture-text-container{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -3%;
}
#headshotRagan{
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 50%;
    border: 1rem solid #DCDCDC;
}