/*Website Overview*/
body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
    margin-left: 0%;
    margin-right: 0%;
    background-image: linear-gradient(#252054,#0b0326);
}
.header{
    position: sticky;
}
.navbar{
    float: none;
    height: 3rem;
    text-align: center;
    a{
        text-decoration: none;
        padding: 5%;
        font-family: Verdana, Tahoma, sans-serif;
        font-size: 1.7rem;
        font-weight:bolder;
        color:#ffffff;
    }
    a:hover{
        color:#dffb62;
    }
}
.headBar{
    #name{
        font-family: "Pixelify Sans", sans-serif;;
        font-weight:bolder;
        font-style:oblique;
        font-size: 3.5rem;
        letter-spacing: .2rem;
        color:#9189FF;
        display: inline;
        margin-left: 2%;

    }
    .socials{
        font-size: 2.5rem;
        float: right;
        color: #9189FF;
        margin-right: 2%;
        margin-top: 1%;
    }
    a:hover{
        color:#ffffff;
        font-size: 2.6rem;
    }
}

a{
    color: white;
}
a:hover{
    color: white;
}
.pageHeading{
    font-size: 1.8rem;
    color:#dffb62;
    margin-left: 10%;
    padding-right: 3%;
    margin-top: 2%;
    width:fit-content;
    text-align: center;
}

/*Index */
#introBlurb{
    font-size: 1.5rem;
    margin-right: 7%;
    font-weight:bold;
    color:#ffffff;
}
.picture-text-container{
    display: flex;
    align-items:center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -5%;
    margin-bottom: 10%;
}
#headshotRagan{
    width: 420px;
    height: 420px;
    object-fit: cover;
    border-radius: 50%;
}
.cardFlexBox{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;

}
.card{
    background-color: #ffffff;
    width: 400px;
    height: 450px;
    margin-bottom: 5%;
    transition: 0.5s;
}
.card:hover{
    background-color: #9189FF;
    width: 405px;
    height: 455px;
    .cardHeader{
        color:#ffffff;
        font-size: 1.5rem;
    }
    .cardDescription{
        color:#ffffff;
    }
}
.cardTextContainer{
    padding:2%;
}
.cardImg{
    object-fit: cover;
    width: 100%;
    height: 50%;
}
.cardHeader{
    color:#9189FF;
    font-size: 1.5rem;
}
.cardDescription{
    color:#666666;
    font-size: 1.2rem;
    font-weight: bold;
    
}